#footer_name_div {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 115, 127);
    font-size: 20px;
    color: rgb(245, 244, 187);
    height: 50px;
    padding: 10px;
    font-size: 18px;
}
.img {
    width: 250;
    height: 250;
}
body {
    text-align: center;
    background-color: rgb(246, 225, 102);
}
#conclusion {
    font-weight: bold;
    font-style: italic;
}
#overall {
    font-size: 30px;
    color: rgb(2, 2, 114);
}